body {
	background-color: #A3D3E3;
}

@font-face {
  font-family: 'typicons';
  src: url("../font/typicons.eot");
  src: url("../font/typicons.eot?#iefix") format('embedded-opentype'),
       url("../font/typicons.woff") format('woff'),
       url("../font/typicons.ttf") format('truetype'),
       url("../font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

ul { 
	list-style: none;
}

li {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

button .typcn {
	font-size: 26px;
}

.column, .columns {
	text-align: center;
	margin-top: 10px;
}

.six {
	margin-bottom: 60px;
}

.font-access {
	font-size: 70%;
	color: white;
	background-color: #19628F;

}

.font-access button {
	color: white;
	padding: 0 5px;
	height: 30px;
}

input[type="search"]{
	vertical-align: top;
	width: 70%;
}

.bottomnav {
	width: 100%;
	margin: auto;
	background-color: #19628F;
	position: fixed;
	bottom: 0;
	left: 0;
}

.bottomnav a {
	color: white;
}

.slider img {
	max-width:100%;
}

h1 {
	color: #E78829;
	font-size: 4.5rem;
	font-weight: 400;
}

h1 small {
	color: #8E6B43;
}

h1 small i {
	font-size: 5rem;
}

#helplines th {
	background-color: #E78829;
	padding-left: 5px;
}

#helplines td {
	background-color: rgba(142, 107, 67, 0.2);
	padding-left: 5px;
}

#jPanelMenu-menu ul {
	background-color: #3b3b3b;
	border-bottom: 1px solid #484848;
}

#jPanelMenu-menu li a {
	display: block;
	padding: 10px;
	font-size: 2.4rem;
	text-shadow: 0 -1px 2px #222;
  	color: #f7f7f7;
  	background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}