body {
	background: rgba(217,255,252,1);
	background: -moz-linear-gradient(top, rgba(217,255,252,1) 0%, rgba(160,207,219,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(217,255,252,1)), color-stop(100%, rgba(160,207,219,1)));
	background: -webkit-linear-gradient(top, rgba(217,255,252,1) 0%, rgba(160,207,219,1) 100%);
	background: -o-linear-gradient(top, rgba(217,255,252,1) 0%, rgba(160,207,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(217,255,252,1) 0%, rgba(160,207,219,1) 100%);
	background: linear-gradient(to bottom, rgba(217,255,252,1) 0%, rgba(160,207,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9fffc', endColorstr='#a0cfdb', GradientType=0 );
}


@font-face {
  font-family: 'typicons';
  src: url("../font/typicons.eot");
  src: url("../font/typicons.eot?#iefix") format('embedded-opentype'),
       url("../font/typicons.woff") format('woff'),
       url("../font/typicons.ttf") format('truetype'),
       url("../font/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

ul { 
	list-style: none;
}

li {
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

button .typcn {
	font-size: 26px;
}

.column, .columns {
	text-align: center;
	margin-top: 30px;
}

.menu-trigger {
	width: 100%;
}

.font-access {
	font-size: 70%;
	color: white;
	background-color: #19628F;

}

.font-access button {
	color: white;
	padding: 0 5px;
	height: 30px;
}

input[type="search"]{
	vertical-align: top;
	width: 70%;
}

.searchbtn {
	padding: 0 10px;
}

.slider img {
	max-width:100%;
}

h1 {
	color: #E78829;
	font-size: 4.5rem;
	font-weight: 800;
	text-shadow: 1px 1px 1px white;
}

h1 small {
	color: #8E6B43;
}

h1 small i {
	font-size: 5rem;
}

#helplines {
	margin: auto;
	width: 95%;
}

#helplines th {
	background-color: #E78829;
	padding-left: 5px;
}

#helplines td {
	background-color: rgba(142, 107, 67, 0.2);
	padding-left: 5px;
}

.jPanelMenu-panel {
	-moz-box-shadow: 0 0 25px #222;
  	-webkit-box-shadow: 0 0 25px #222;
  	box-shadow: 0 0 25px #222;

  	min-height: 100%;
}

#jPanelMenu-menu ul {
	background-color: #3b3b3b;
}

#jPanelMenu-menu li {
	text-align: center;
	margin: 10px auto;
	width: 90%;
}

#jPanelMenu-menu a:focus {
	background-color: #259D8F;
	color: black;
}

#jPanelMenu-menu ul ul {
	margin: 1.5rem 3rem;
}

#jPanelMenu-menu li > ul > li > a { /* nested list items */
	color: #EDE9E3;
	padding: 10px;
	margin-bottom: 20px;
	display: block; 
	border: 2px solid #259D8F;
}

#jPanelMenu-menu > ul > li > a { /* list items */
	border: 2px solid #259D8F;
	display: block; 
	padding: 10px;
	font-size: 2rem;
	text-shadow: 0 -1px 2px #222;
  	color: #f7f7f7;
  	background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#jPanelMenu-menu img {
	max-width: 100%;
}

#jPanelMenu-menu input {
	width:90%;
	margin: 10px auto;
}



/* INPUT FIELDS */

input[type="search"] {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
  	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="search"]:focus {
  	border: 1px solid #33C3F0;
  	outline: 0;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 400px;
	width: calc(90% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Yoko */
.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #f5f5f5;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #19628F;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #c5564a;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #ad473c;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}